.font{
    -fx-text-inner-color: white;
}

.button:hover{

    -fx-background-color: transparent;
}


.button{

    -fx-background-color:  #ea4443;

}

.container {
    -fx-background-image: url("SystemImage\bar.jpg");
    
    -fx-background-repeat: no-repeat;
}
/*
.jfx-list-cell {

    -fx-background-insets: 0.0;
    -fx-background-color:  #ea4443;
}

.jfx-list-cell -jfx-rippler{

    -fx-rippler-fill:BLUE;
}

.jfx-list-cell :hover{

    -fx-background-color: #404040;
}

.jfx-list-cell :selected{

    -fx-background-color: #3d8c91;
}*/
